################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftMedicControlData/FileContentIndex/15b97859-414a-4a8e-9601-a0419067152f.vsidx
/.vs/SoftMedicControlData/FileContentIndex/27ec1f01-29e9-4de8-9548-1b4f06df23b2.vsidx
/.vs/SoftMedicControlData/FileContentIndex/a804b246-5af0-48e7-b1ef-3f04ed9b09be.vsidx
/.vs/SoftMedicControlData/FileContentIndex/cc9a2f7a-a327-4834-b31a-3847706167c9.vsidx
/.vs/SoftMedicControlData/FileContentIndex/cf49a51b-7170-4630-b32a-ac6e8462f252.vsidx
